.container {
  > form {
    .player-search {
      border-radius: 5px;
      width: 60%;
      margin-right: 2rem;
    }
    > select {
      border-radius: 5px;
    }
    .btn {
      border-radius: 5px;
      width: 20%;

      margin-top: 1rem;

      background-color: orange;
      border: 1px solid black;
      &:hover {
        background-color: #fff;
        color: orange;
        border: 1px solid orange;
      }
    }
  }
}
